{% extends "admin/home.html" %} {% block title %} Upload Semester {% endblock %} {% block content %} <style>
  .semester-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
    background-color: #98b4ac;
    float: center;
    margin: auto;
    line-height: 40px;
  }


  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .button {
    margin: 0 auto;
    width: 4.5vw;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #95B9C7;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  } 

  /* .button:hover {
    background-color: #95B9C7;
    box-shadow: 0px 15px 20px #C9C0BB;
    color: #fff;
    transform: translateY(-7px);
  } */

  .fac {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .buttonF {
    position: fixed;
    width: 100%;
    min-width: 1320px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #d8c090;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .input {
    margin: 0 auto;
    height: 30px;
    font-weight: 500;
  }

  .message {
    margin: 0 auto;
    width: 300px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #3c3c5c;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
          /* Table Styles */


  .fl-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 85vw;
    max-width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
  }

  .fl-table td,
  .fl-table th {
    text-align: center;
    padding: 8px;
  }

  .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }

  .fl-table thead th {
    color: #ffffff;
    background: #98b4ac;
  }

  .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #98b4ac;
  }

  .fl-table tr:nth-child(even) {
    background: #F8F8F8;
  }

  /* Responsive */
  @media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }

    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
      display: block;
    }

    .fl-table thead th:last-child {
      border-bottom: none;
    }

    .fl-table thead {
      float: left;
    }

    .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }

    .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
      display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
      background: none;
    }

    .fl-table tr:nth-child(even) {
      background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
      display: block;
      text-align: center;
    }
  }
      tr:hover {
      background-color: #ddd;
    }
    th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
    .no-data{
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
    font-size: 19px;
  }
    .search-parent{
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 19px;
     margin-top: 1vw;
  }
  #id_search{
    width: 30vw;
    height: 5.5vh;
    border-radius: 4px;
    margin-left: 2vw;
   
  }
    
  .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #304434;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #d8c090;}


</style>
<div class="fac">
  <button type="submit" class="buttonF">
    <b>View Faculty</b>
  </button>
</div>
<br>
<form method="POST"> {% csrf_token %} 
  <div class="search-parent">
        <div>
        <!-- <b>Search Faculty Last Name&nbsp; {{search_form.search}}</b> -->
        <input  type="text" placeholder="Search Faculty Last Name"  style="font-size: 17px;" {{search_form.search}}
         </div>
  <div>
   <button type="submit" class="button">
   <div style="size: 15px; margin-left: 1vw;">
     <i class='bx bx-search nav__icon'></i>
   </div>
   </button>
  </div>
  </div>
</form>

{% if not faculty %} 
               <div class="no-data">
    No Data Available
  </div>
{% else %}

  <table class="fl-table">
    <thead>
      <tr>
        <th  style="font-size: 17px;">Faculty ID</th>
        <th  style="font-size: 17px;">Last Name</th>
        <th  style="font-size: 17px;">First Name</th>
        <th  style="font-size: 17px;">Middle Name</th>
      </tr>
    </thead>  {% for obj in faculty %} <tbody>
      <tr>
        <td style="font-size: 15px;">
           <a href="{% url 'view_faculty_detail' obj.faculty_id %}">
             <b>{{obj.faculty_id}}</b>
          </a>
        </td>
        <td  style="text-align: left; font-size: 15px;">
           <a href="{% url 'view_faculty_detail' obj.faculty_id %}">
           <b>{{obj.lastname}}</b></a>
        </td>
        <td  style="text-align: left; font-size: 15px;">
            <a href="{% url 'view_faculty_detail' obj.faculty_id %}">
             <b>{{obj.firstname}}</b>
          </a>
        </td>
         <td  style="text-align: left; font-size: 15px;">
            <a href="{% url 'view_faculty_detail' obj.faculty_id %}">
             <b>{{obj.middlename}}</b>
          </a>
        </td>
        
      </tr>
    </tbody> {% endfor %}
  </table>
 {% endif %} 

 {% if faculty %} 
  <div class="pagination">
    {% if faculty.has_previous %}
      <a href="?page=1">&laquo;</a>
    {% endif %}
{% if faculty.number|add:'-9' > 1 %}
    <a href="?page={{ faculty.number|add:'-10' }}">&hellip;</a>
{% endif %}

{% for i in faculty.paginator.page_range %}
    {% if faculty.number == i %}
        <a class='active' href="?page={{ i }}">{{ i }}</a>
    {% elif i > faculty.number|add:'-10' and i < faculty.number|add:'10' %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
{% endfor %}

{% if faculty.paginator.num_pages > faculty.number|add:'9' %}
    <a href="?page={{ faculty.number|add:'10' }}">&hellip;</a>
{% endif %}

 {% if faculty.has_next %}
      <a href="?page={{ faculty.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div >
{% endif %}
<!-- <div class="pagination">
  {% if faculty.has_other_pages %}

    {% if faculty.has_previous %}
      <a href="?page=1">&laquo;</a>
    {% endif %}

    {% for i in faculty.paginator.page_range %}

      {% if faculty.number == i %}
      <a class='active' href="?page={{ i }}">{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}

    {% endfor %}

    {% if faculty.has_next %}
      <a href="?page={{ faculty.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  
  {% endif %}
 </div> -->
{% endblock %}
