{% extends "admin/home.html" %} {% block title %} Upload Semester {% endblock %} {% block content %} 
<style>
  .semester-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 28vw;
    height: 25vh;
    border-radius: 5px;
    background-color: #304434;
    float: left;
    margin: auto;
    /* line-height: 40px; */
    margin-bottom: 5vh;

  }

    .input {
      margin-bottom: 2vh;
      margin-top: 2vh;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .button {
    margin: 0 auto;
    width: 7vw;
    height: 3.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e0b44c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    background-color: #e0b44c;
    /* box-shadow: 0px 8px 20px #C9C0BB; */
    color: #fff;
    transform: translateY(-7px);
  }

  .fac {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .buttonF {
    position: fixed;
    width: 100%;
    min-width: 1320px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #d8c090;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }


  .message {
    margin: 0 auto;
    width: 300px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #304434;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .parent_message {
    float: center;
    margin-left: auto;
    margin-right: auto;
  }
      /* Table Styles */
  .fl-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
     width: 90vw;
 
    background-color: white;
    overflow-y: scroll;
  }

  .fl-table td,
  .fl-table th {
    text-align: center;
    padding: 8px;
  }

  .fl-table td {
    border-right: 1px solid #fff;
    font-size: 12px;
  }

  .fl-table thead th {
    color: #ffffff;
    background: #304434;
  }

  .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #304434;
  }

  .fl-table tr:nth-child(even) {
    background: #F8F8F8;
  }
    tr:hover {
      background-color: #ddd;
    }
    th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

  /* Responsive */
  @media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }

    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
      display: block;
    }

    .fl-table thead th:last-child {
      border-bottom: none;
    }

    .fl-table thead {
      float: left;
    }

    .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }

    .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
      display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
      background: none;
    }

    .fl-table tr:nth-child(even) {
      background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
      display: block;
      text-align: center;
    }
  }
      .no-data{
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
    font-size: 19px;
  }
  #id_sem{
    width: 8vw;
    height: 3vh;
  }

  
  .pagination {
   align-items: center;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #304434;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #d8c090;}
  .data-sample{
      font-size: 18px;
      margin-bottom: 2vh;
      display: flex;
      flex-direction: column;
  }
  .display{
      flex-direction: row;
      margin-top: 2vh;
  }
  .eg-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    /* box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
     width: 80vw;
    background-color: white;
    overflow-y: scroll;
  }
  .eg-table td,
  .eg-table th {
    text-align: center;
    padding: 8px;
  }

  .eg-table td {
    border-right: 1px solid #fff;
    font-size: 12px;
  }

  .eg-table thead th {
    color: #000;
    background: #e0b44c;
  }

  .eg-table thead th:nth-child(odd) {
    color: #000;
    background: #e0b44c;
  }

  .eg-table tr:nth-child(even) {
    background: #F8F8F8;
  }
    tr:hover {
      background-color: #ddd;
    }
    th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.wrong-sem{
  text-align: left; 
  font-size: 13px;
  color: red;
  font-weight: bold;
}
</style>
<div class="fac">
  <button type="submit" class="buttonF">
    <b>Upload Subject Offerings</b>
  </button>
</div>
<br>
<div style="text-align: center"> {% for message in messages %} <button type="submit" class="message">
    <p>
      <b>{{message}} !</b>
    </p>
  </button> {% endfor %} </div>
<br>
<div class="data-sample">
  <b style="font-size: 20px;">The data should have the following data type:</b>      
 <table class="eg-table">
  <thead>
    <tr>
      <th  style="font-size: 15px;">Offer Number</th>
      <th  style="font-size: 15px;">Subject Code</th>
      <th  style="font-size: 15px;">Subject Title </th>
       <th  style="font-size: 15px;">School Days</th>
      <th  style="font-size: 15px;">Start Time</th>
      <th  style="font-size: 15px;">Semester ID</th>
      <th  style="font-size: 15px;">Academic Year</th>
      <th  style="font-size: 15px;">Department Code</th>
      <th  style="font-size: 15px;">Department Name</th>
      <th  style="font-size: 15px;">Faculty ID</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td style="text-align: center; font-size: 13px;">
        <b>(09090)</b>
      </td>
      <td  style="text-align: left; font-size: 13px;">
         <b>(English Proficiency Level 1)</b>
      </td>
     <td  style="text-align: left; font-size: 13px;">
         <b>(EP 1)</b>
      </td>
         <td  style="text-align: left; font-size: 13px;">
         <b>(MTWTHFSS)</b>
      </td>
       <td  style="text-align: left; font-size: 13px;">
         <b>(00:00 am - 00:00 pm)</b>
      </td>
        <td  style="text-align: center; font-size: 13px;">
         <b>(1st)</b>
      </td>
        <td  style="text-align: center; font-size: 13px;">
         <b>(2028)</b>
      </td>
       <td  style="text-align: left; font-size: 13px;">
         <b>(LANGLIT)</b>
      </td>
       <td  style="text-align: left; font-size: 13px;">
         <b>(Language Literature)</b>
      </td>
        <td  style="text-align: center; font-size: 13px;">
         <b>(2099)</b>
      </td>
    </tr>
  </tbody>
</table>
</div>

  <form method="post" enctype="multipart/form-data"> {% csrf_token %} 
    <div class="semester-card">
              <div style="margin-left: 2vw; margin-top: 1vh;">
     <label style="font-size: 17px; font-weight: bold; color: #fff;">Semester: {{check_sem.active_sem}}</label>
     </div>
      <div style="margin-left: 2vw; margin-top: 1vh;">
     <label style="font-size: 17px; font-weight: bold; color: #fff;">Year: {{check_sem.active_year}}</label>
     </div>
  <div style="margin-left: 2vw;">
    <input type="file" name="myfile" class="input" style="font-size: 16px; font-weight: bold; color: #fff;">
  </div>
    <div style="margin-left: 2vw;">
      <button type="submit" class="button">Upload</button>
    </div>
      </div> 
  </form>

  

{% if not subject_offerings %} 
    <div class="no-data">
    No Data Available
  </div>
{% else %}


  <table class="fl-table">
    <thead>
      <tr>
        <th  style="font-size: 15px;">Offer Number</th>
        <th  style="font-size: 15px;">Subject Code</th>
        <th  style="font-size: 15px;">Subject Title </th>
         <th  style="font-size: 15px;">School Days</th>
        <th  style="font-size: 15px;">Start Time</th>
        <th  style="font-size: 15px;">Semester ID</th>
        <th  style="font-size: 15px;">Academic Year</th>
        <th  style="font-size: 15px;">Department Code</th>
          <th  style="font-size: 15px;">Department Name</th>
        <th  style="font-size: 15px;">Faculty ID</th>
      </tr>
    </thead>  {% for obj in subject_offerings %} 
    {% if sem_choice == obj.sem_id and sem_year == obj.academic_year %} 
    <tbody>
      <tr>
        <td style="text-align: center; font-size: 13px;">
          <b>{{obj.offer_no}}</b>
        </td>
        <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.subject_code}}</b>
        </td>
       <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.subject_title}}</b>
        </td>
           <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.school_days}}</b>
        </td>
         <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.school_time}}</b>
        </td>
          <td  style="text-align: center; font-size: 13px;">
           <b>{{obj.sem_id}}</b>
        </td>
          <td  style="text-align: center; font-size: 13px;">
           <b>{{obj.academic_year}}</b>
        </td>
         <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.department_code}}</b>
        </td>
         <td  style="text-align: left; font-size: 13px;">
           <b>{{obj.department_name}}</b>
        </td>
          <td  style="text-align: center; font-size: 13px;">
           <b>{{obj.faculty_id}}</b>
        </td>
      </tr>
    </tbody>
    {% else %}
     <tbody>
      <tr>
        <td class="wrong-sem">
          {{obj.offer_no}}
        </td>
        <td class="wrong-sem">
          {{obj.subject_code}}
        </td>
       <td class="wrong-sem">
          {{obj.subject_title}}
        </td>
           <td class="wrong-sem">
         {{obj.school_days}}
        </td>
         <td  class="wrong-sem">
         {{obj.school_time}}
        </td>
          <td class="wrong-sem">
           {{obj.sem_id}}
        </td>
          <td class="wrong-sem">
          {{obj.academic_year}}
        </td>
         <td  class="wrong-sem">
          {{obj.department_code}}
        </td>
         <td  class="wrong-sem">
          {{obj.department_name}}
        </td>
          <td class="wrong-sem">
          {{obj.faculty_id}}
        </td>
      </tr>
    </tbody>
     {% endif %} 
     {% endfor %}
  </table>

 {% endif %} 


 {% if subject_offerings %} 
       <div class="pagination">
    {% if subject_offerings.has_previous %}
      <a href="?page=1">&laquo;</a>
    {% endif %}
{% if subject_offerings.number|add:'-9' > 1 %}
    <a href="?page={{ subject_offerings.number|add:'-10' }}">&hellip;</a>
{% endif %}

{% for i in subject_offerings.paginator.page_range %}
    {% if subject_offerings.number == i %}
        <a class='active' href="?page={{ i }}">{{ i }}</a>
    {% elif i > subject_offerings.number|add:'-10' and i < subject_offerings.number|add:'10' %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
{% endfor %}

{% if subject_offerings.paginator.num_pages > subject_offerings.number|add:'9' %}
    <a href="?page={{ subject_offerings.number|add:'10' }}">&hellip;</a>
{% endif %}

 {% if subject_offerings.has_next %}
      <a href="?page={{ subject_offerings.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div >
 {% endif %}
{% endblock %}