{% extends "counselor/home.html" %} {% block title %} Schedule {% endblock %} {% block content %} <style>

  .fac {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .buttonF {
    position: fixed;
    width: 100%;
    min-width: 1320px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #fff;
    background-color: #d8c090;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  #id_pickedDate {
    width: 250px;
    height: 35px;
    color: #3A3B3C;
  }
  .button {
    margin: 0 auto;
    width: 6vw;
    height: 3.8vh;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    background-color: #304434;
    border: none;
    border-radius: 45px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    background-color: #304434;
    box-shadow: 0px 15px 20px #C9C0BB;
    color: #fff;
    transform: translateY(-2px);
  }

  /* Table Styles */
   div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
  }

  .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }

  /*** Table Styles **/
  .table-fill {
    background: whitesmoke;
    border-radius: 3px;
    border-collapse: collapse;
    height: 7vh;
    margin: auto;
    max-width: 1200px;

    width: 80%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    border-radius: 10px;
  }

  th {
  color: #fff;
    background-color:#304434;
    font-size: 22px;
    font-weight: 100;
    padding: 7px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(50, 43, 43, 0.1);
    vertical-align: middle;
  }

  th:first-child {
    border-top-left-radius: 3px;
  }

  th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  /* tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
} */
  tr:first-child {
    border-top: 1px solid #C1C3D1;
  }

  tr:last-child {
    border-bottom: 1px solid #C1C3D1;
  }

  tr:nth-child(odd) td {
    background: #EBEBEB;
  }

  /* tr:nth-child(odd):hover td {
  background:#4E5066;
} */
  tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
  }

  td {
    background: #FFFFFF;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }

  td:last-child {
    border-right: 0px;
  }


  th.text-left {
    text-align: left;
    color: #304434;
  }

  th.text-center {
    text-align: center;
    color: #fff;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
    color: #304434;
  }

  td.text-center {
    text-align: center;
    color: #304434;
    font-size: 16px;
  }

  td.text-right {
    text-align: right;
  }

  /* Responsive */
  @media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }

    /* .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    } */

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
      display: block;
    }

    .fl-table thead th:last-child {
      border-bottom: none;
    }

    .fl-table thead {
      float: left;
    }

    .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 14px;
      text-overflow: ellipsis;
    }

    .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
      display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
      background: none;
    }

    .fl-table tr:nth-child(even) {
      background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
      display: block;
      text-align: center;
    }
  }

  .center {
    text-align: center;
  }

  .center_title {
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
  }
</style>

<br>
<form method="POST" action="{% url 'another_counselor_view_schedule' %}"> {% csrf_token %} <div class="center_title">
    <p>
      <i>
           <p style="font-size: 19px;"><b>To view a Schedule of Counseling, select the date below.</b></p>
      </i>
    </p>
  </div>
  <div class="center">
    {{ offer.pickedDate }}
    <button type="submit" class="button">Submit</button>
  </div>
</form> <br>
<br>

<table class="table-fill">
    <thead>
      <tr>
        <th class="text-center">Schedule Time</th>
        <th class="text-center">Activities and Details</th>

      </tr>
    </thead>
    {% for obj in time %} 
    <tbody class="table-hover">
      <tr>
        <td class="text-center" style="font-size: 16px;"><b>{{obj.time1}} - {{obj.time2}}</b></td>
        {% for object in schedForToday %} 
        {% if obj.time1|safe > object.start_time|safe or obj.time1|safe == object.start_time|safe  %} 
        {% if obj.time2|safe  < object.end_time|safe or obj.time2|safe  == object.end_time|safe  %}
         {% if object.choice|stringformat:"s" == "Class" %} 
        <td class="text-center" style="font-size: 18px; background-color: #659EC7; color: #fff;"><b>{{object.choice}} - {{object.subject_code.subject_code}}</b></td>
        {% elif object.choice|stringformat:"s" == "Counseling" %}
             {% if object.status == 'done' %}
                            <td class="text-center" >
                              <a href="{% url 'detail_referred_student_counselor' object.id %}" style="color: black; font-size: 16px;">
                                <b>COUNSELED</b>
                              </a>
                      </td>
            {% else %}
                           <td class="text-center" style="background-color: #387C44;">
                              <a href="{% url 'detail_referred_student_counselor' object.id %}" style="color: #fff; font-size: 16px;">
                                <b>COUNSELING</b>
                              </a>
                      </td>
            
            {% endif %} 
        {% elif object.choice|stringformat:"s" == "Not Available" %}
        <td class="text-center" style="font-size: 16px; background-color: #F75D59; color: #fff;" ><b>NOT AVAILABLE</b></td>
        {% else %} {% endif %} {% else %} {% endif %} {% endif %} {% endfor %} {% endfor %}
      </tr>
    </tbody> 
  </table>

<br> {% endblock %}