{% extends "counselor/home.html" %} {% block content %}
<form method="POST" action="{% url 'another_counselor_view_schedule' %}"> {% csrf_token %} <div class="center_title">
    <p>
      <i>
           <p style="font-size: 19px;"><b>To view a Schedule of Counseling, select the date below.</b></p>
      </i>
    </p>
  </div>
  <div class="center">
    {{ offer.pickedDate }}
    <button type="submit" class="button">Submit</button>
  </div>
</form> <br>

   {% for obj in time %} 
       <br>{{obj.time1}} - {{obj.time2}} 
        {% for object in schedForToday %} 
          {% if obj.time1|safe == object.start_time|safe or obj.time2|safe == object.start_time|safe  %}
              {% if object.choice|stringformat:"s" == "Class" %}
                    {{object.choice}} -- {{object.subject_code.subject_code}} 
              {% elif object.choice|stringformat:"s" == "Counseling" %} 
                  {{object.choice}} 
                  <a style="color: black;" href="{% url 'detail_referred_student_counselor' object.id %}">
                    <b style="color: black;">view more info
                    </b>
                  </a>
              {% elif object.choice|stringformat:"s" == "Not Available" %} 
                  {{object.choice}} 
              {% endif %}
          {% endif %}
          {% if obj.time1|safe == object.end_time|safe or obj.time2|safe == object.end_time|safe  %}
              {% if object.choice|stringformat:"s" == "Class" %}
                    {{object.choice}} -- {{object.subject_code.subject_code}} 
              {% elif object.choice|stringformat:"s" == "Counseling" %} 
                  {{object.choice}} 
                  <a style="color: black;" href="{% url 'detail_referred_student_counselor' object.id %}">
                    <b style="color: black;">view more info
                    </b>
                  </a>
              {% elif object.choice|stringformat:"s" == "Not Available" %} 
                  {{object.choice}} 
              {% endif %}
          {% endif %}
    {% endfor %} {% endfor %}
   

   {% endblock %}

