{% extends "counselor/home.html" %} {% block title %} Referred Students {% endblock %} {% block content %}
<style>
    #wrapper {
      display: flex;
      padding: 20px;
    }
  
    #square {
      min-width: 300px;
      height: 350px;
      border-radius: 20px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #98b4ac;
      box-shadow:
        0 9px 33px rgba(0, 0, 0, 0.07);
      margin: auto;
      overflow-wrap: break-word;
    }
  
    #box {
      background: #f4f4f4;
      height: 40vh;
      padding: 15px;
      overflow-y: scroll;
      text-align: justify;
      border: 2px solid black;
      border-radius: 15px;
      box-shadow: 5 90px 50px rgba(0, 0, 0, 0.07);
      min-width: 90vw;
      min-height: 200px;
      width: 100px;
      text-overflow: ellipsis;
      align-items: left;
      margin-bottom: 5vh;
    }
  
    .table-head {
      background: #E5E4E2;
      box-shadow: none;
      color: #fff;
      font-weight: 600;
      line-height: 5px;
      box-shadow: 0 1px 4px 0px rgba(0, 0, 50, 0.3);
      width: 500px;
      margin: auto;
      border-radius: 20px;
    }
  
    .table-head .table-cell {
      border-right: none;
    }
  
    .table-cell {
      display: table-cell;
      width: 20%;
      text-align: center;
      padding: 4px 0;
      border-right: 1px solid #838996;
      vertical-align: middle;
    }
  
    .first-cell {
      text-align: left;
      padding-left: 10px;
      width: 8%;
    }
  
    .last-cell {
      border-right: none;
      width: 15px;
    }
  
    /* a{
        textdecoration: none;
        color: #555;
    } */
    p {
      font-size: 17px;
      color: black;
    }
  
    .listTitle {
      font-size: 20px;
      text-align: center;
    }
  
    @media only screen and (max-width: 600px) {
      .table-row {
        font-size: 11px;
        margin: auto;
      }
  
      .box {
        display: flex;
        flex-direction: column;
      }
  
      .schedule_appointment {
        display: flex;
        flex-direction: column;
      }
    }
  
    .trow-list {
      display: inline-block;
      width: 70%;
      font-family: sans-serif;
      background: transparent;
      padding: 10px 0;
      margin: auto;
    }
  
    .modal1 {
      font-size: 21px;
      font-weight: 300;
      text-align: left;
    }
  
    .modal2 {
      font-size: 20px;
      text-align: left;
      line-height: 25px;
    }
  
    div.item {
      vertical-align: auto;
      display: inline-block;
      text-align: center;
      width: 120px;
    }
  
    .caption {
      display: block;
    }
  
    .item {
      width: 200px;
      text-align: center;
      display: block;
      background-color: transparent;
      border: 1px solid transparent;
      margin-right: 10px;
      margin-bottom: 1px;
      float: left;
    }
  
    #index-gallery {
      width: 465px;
    }
  
    .form_container {
      margin-top: 20px;
    }
  
    #form-title {
      color: #fff;
    }
  
    .login_btn {
      width: 100%;
      background: #48444c !important;
      color: white !important;
    }
  
    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
  
    .login_container {
      padding: 0 2rem;
    }
  
    /* <--------- FOR BUTTON SA FEEDBAK ----->  */
    .table-head1 {
      background: #d8c090;
      box-shadow: none;
      color: #fff;
      font-weight: 600;
      line-height: 1px;
      box-shadow: 0 1px 4px 0px rgba(0, 0, 50, 0.3);
      width: 300px;
      margin-left: 20px;
      border-radius: 20px;
    }
  
    .table-head1 .table-cell1 {
      border-right: none;
    }
  
    .table-cell1 {
      display: table-cell;
    }
  
    .first-cell1 {
      text-align: left;
      padding-left: 10px;
      width: 8%;
    }
  
    .Pbox {
      font-size: 19px;
      line-height: 30px;
      text-align: justify;
    }
  
    .column {
      min-width: 300px;
      float: left;
      margin-right: 20px;
    }
  
    .row {
      width: 500px;
      float: right;
      text-align: left;
      text-align: justify;
      flex-direction: column-reverse;
      padding: 8px;
      margin-left: auto;
      padding: 10px;
      line-height: 30px;
    }
  
    .rowText {
      font-size: 24px;
      margin: auto;
    }
  
    .image {
      max-width: 320px;
      height: 150px;
    }
  
    .picInfo {
      display: flex;
      justify-content: center;
    }
  
    .column {
      width: 250px;
      float: left;
      margin-right: 20px;
    }
  
    .row1 {
      width: 450px;
      float: left;
      margin-left: 200px;
      padding-top: 17px;
    }
  
    .last {
      margin: 0;
      padding: 10px;
    }
  
    .pText {
      font-weight: 600;
      font-size: 20px;
    }
  
    .bText {
      color: #000;
      font-size: 20px;
    }
  
    form.cleanForm {
      width: 700px;
      margin: 0 auto;
    }
  
    form.cleanForm p {
      margin-bottom: 15px;
    }
  
    .fac {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .buttonF {
      margin-top: 6vh;
      position: fixed;
      width: 100%;
      height: 60px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 600;
      color: #000;
      background-color: #d8c090;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    }
  
    /* .card1 {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    min-height: 510px;
    border-radius: 5px;
    float: center;
    margin-left: auto;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background-color: whitesmoke;
  } */
    @media screen and (max-width: 320px) {
      .header__search {
        width: 70%;
      }
  
      /* .card1{
      width: 70%;
    } */
    }
  
  
    .button {
      margin-top: 4vh;
      width: 12vw;
      height: 6vh;
      border: 5em;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      -webkit-transform: translate(0);
      transform: translate(0);
      background-color: #304434;
      border-radius: 65px;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
      -webkit-transition: box-shadow 0.25s;
      transition: all 0.3s ease 0s;
      letter-spacing: 3.5px;
      margin-bottom: 3vh;
    }
  
    .button:hover {
      background-color: #304434;
      box-shadow: 0px 15px 20px #C9C0BB;
      color: #fff;
      transform: translateY(-7px);
    }
  
    .schedule_appointment {
      align-items: center;
      display: inline-block;
    }
  
    .schedule_title {
      font-size: 23px;
    }
  
    .schedule_information {
      float: left;
    }
      .feedback-stated{
        display: block;
    flex-direction: column;
    margin-left: 1vw;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2vw;
    margin-bottom: 1vw;
    
  }
.student-info{
  margin-top: 2vh;
}
  </style>
  <div class="fac">
    <button type="submit" class="buttonF">Notification Student Referral Information</button>
  </div> 
  <br>
  <br>
  <div>
  <br>  <div class="schedule_appointment">
    <div class="schedule_title">
      <h3>
        Schedule of Appointment
      </h3>
    </div>
    <br>
    <br>
    <div class="schedule_information">
      <p class="rowText"> 
        {% if get_referral.feedback %} 
                               <b>{{get_referral.lastname}}, {{get_referral.firstname}}</b> has an appointment.
                The Session starts at <b>{{get_referral.start_time}}</b> and ends at <b> {{get_referral.end_time}}</b>
                 on <b>{{get_referral.date}}</b>
                 <div>
                    <div class="feedback-stated">
                <h3><i>Feedback:</i></h3>
            </div>
            <div id="box">
              <li class="Pbox" style="text-align: justify; margin-left:8px;">
                <b>{{get_referral.feedback}}</b>
              </li>
            </div>
                     </div>
                 {% for object in detail %}
                 {% if object.faculty_id %} 
                          <div>
                          <div class="feedback-stated">
                      <h3><i>Teacher's Reason for Referral:</i></h3>
                  </div>
                  <div id="box">
                    <li class="Pbox" style="text-align: justify; margin-left:8px;">
                      <b>{{object.reasons}}</b>
                    </li>
                  </div>
                          </div>
                 <div style="font-size: 18px;" ><h3 style="font-size: 23px;">Behavioral Problem: </h3><b style="color: #000; margin-left: 1vw;"><li>{{object.behavior_problem}}</li></b></div>
                 {% else %}
                   <div>
                          <div class="feedback-stated">
                      <h3><i>Student's Reason for Referral:</i></h3>
                  </div>
                  <div id="box">
                    <li class="Pbox" style="text-align: justify; margin-left:8px;">
                      <b>{{object.reasons}}</b>
                    </li>
                  </div>
                          </div>
                 {% endif %}
                 {% endfor %}

                 {% else %}
                 
                 <b>{{get_referral.lastname}}, {{get_referral.firstname}}</b> has an appointment.
                 The Session starts at <b>{{get_referral.start_time}}</b> and ends at <b> {{get_referral.end_time}}</b>
                  on <b>{{get_referral.date}}</b>
                  {% for object in detail %}
                         {% if object.faculty_id %} 
                          <p>
                  <h3 style="font-size: 23px;">Referred By: <b style="color: #000; margin-left: 0.5vw;">
                    {{object.faculty_id.firstname}} {{object.faculty_id.lastname}}</b></h3></p>
                     <p>
                  <h3 style="font-size: 23px;">Subject Referred: <b style="color: #000; margin-left: 0.5vw;">
                    {{object.subject_referred}}</b></h3></p>
                   <div style="font-size: 18px; margin-top:5px;" >
                    <h3 style="font-size: 23px;">Behavioral Problem</h3>
                    <b style="color: #000; margin-left: 1vw;"><li>{{object.behavior_problem}}</li></b></div>
                  <div>
                 <div class="feedback-stated">
             <h3><i>Teachers's Reason for Referral:</i></h3>
         </div>
         <div id="box">
           <li class="Pbox" style="text-align: justify; margin-left:8px;">
             <b>{{object.reasons}}</b>
           </li>
         </div>
                  </div>
                         {% else %}
                            <div>
                 <div class="feedback-stated">
             <h3><i>
              Student's Reason for Referral:</i></h3>
         </div>
         <div id="box">
           <li class="Pbox" style="text-align: justify; margin-left:8px;">
             <b>{{object.reasons}}</b>
           </li>
         </div>
                  </div>
                         {% endif %}

                  
                 
                  {% endfor %}
     <!-- <div >
         <center>
            <a href="{% url 'counselor_feedback_student' referral_id %}">
             <button class="button" style="font-weight: 800;  color: #fff;">
               <h4 style="font-weight: bold; margin: 0 auto;">Feedback</h4>
             </button>
           </a>
         </center>
       </div>  -->
        {% endif %}
    </div>
  </div> 
  
  {% endblock %}